<div class="division division1">
    <h4 class="title"> <img src="/images/title.png" alt="" width="40px" height="40px" class="logo"> KASHIF
        TRAVELERS</h4>

    <ul>
        <li class="list ">
            <a href="/" class="">
                <span class="side_icon">
                    <i class="fa fa-home " aria-hidden="true"></i>
                </span>
                <span class="text">DashBoard</span>
            </a>
        </li>
        <li class="list">
            <a href="/pacakges">
                <span class="side_icon">
                    <i class="fa fa-cube " aria-hidden="true"></i>
                </span>
                <span class="text">packages</span>
            </a>
        </li>
        <li class="list">
            <a href="/record">
                <span class="side_icon">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </span>
                <span class="text">Records</span>
            </a>
        </li>
        <li class="list">
            <a href="/review">
                <span class="side_icon w-6">
                    <i class="fa fa-comment " aria-hidden="true"></i>
                </span>
                <span class="text">Bookings</span>
            </a>
        </li>
        <li class="list">
            <a href="/booking">
                <span class="side_icon">
                    <i class="fa fa-book " aria-hidden="true"></i>
                </span>
                <span class="text">Rentals</span>
            </a>
        </li>
    </ul>
</div>
<script src="/js/navbar.js"></script>