<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="/Rental_booking">Car Rental  Records</a></li>
    <li><a class="dropdown-item" href="/Hotel_booking">Hotel Records</a></li>
    <li><a class="dropdown-item" href="/Flat_booking">Flat Records</a></li>
    <li><a class="dropdown-item" href="/FarmHouse_booking">FarmHouse  Records</a></li>
  </ul>