<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="/family-record-page">Family Booking Records</a></li>
    <li><a class="dropdown-item" href="/group-record-page">Group Booking Records</a></li>
    <li><a class="dropdown-item" href="/honeymoon-record-page">Honeymoon Booking Records</a></li>
    <li><a class="dropdown-item" href="/car-rental-record-page">Car Rental Booking Records</a></li>
    <li><a class="dropdown-item" href="/hotel-rental-record-page">Hotel Booking Records</a></li>
    <li><a class="dropdown-item" href="/flat-rental-record-page">Flat Booking Records</a></li>
    <li><a class="dropdown-item" href="/farmHouse-rental-record-page">FarmHouse Booking Records</a></li>
  </ul>