<header>
    <nav class="navbar navbar-expand-lg navbar-light color">
        <img src="/images/title.png" alt="" width="40px" height="40px" class="logo">
        <a id="logo" class="navbar-brand" href="/home">KASHIF TRAVELERS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul id="nav" class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home#AboutUs">About Us<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="Packages.html" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Packages
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/FamilyPackages">Family Packages</a>
                        <a class="dropdown-item" href="/GroupPacakegs">Group Packages</a>
                        <a class="dropdown-item" href="/Honeymoon">Honeymoon Packages</a>

                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Booking
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/CarRental">Car Rental</a>
                        <a class="dropdown-item" href="/Hotels">Hotels</a>
                        <a class="dropdown-item" href="/Flats">Flats</a>
                        <a class="dropdown-item" href="/FarmHouse">Farm Houses</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ContactUs">Contact Us</a>
                </li>
            </ul>
            <a href="/Login"><button class="Login">Login</button></a>
            
            <!-- Other content of the home page -->
            
        </div>
    </nav>
</header>
