



/* .grid-container{
    display: grid;
  grid-template-columns: 25% 25% 25%;
} */
.box{
  margin: 5px 30px;
    padding: 10px;
  
    display: flex;
    flex-flow: row nowrap;
   
    border-radius: 5px ;
    justify-content: space-between;
  
}
.box1{
    background: linear-gradient(rgba(212, 75, 20, 0.5),rgba(201, 63, 219, 0.5));

}
.box2{
    background: linear-gradient(rgba(22, 88, 154, 0.5),rgba(166, 138, 243, 0.5));

}
.box3{
    background: linear-gradient(rgba(212, 158, 11, 0.5),rgba(254, 243, 84, 0.5));
}
.box4{
   
 background: linear-gradient(rgba(159, 235, 52, 0.5),rgba(13, 92, 36, 0.5));

}
.box5{
    background: linear-gradient(rgba(52, 232, 235, 0.5),rgba(18, 76, 114, 0.5));

}
.box6{
    background: linear-gradient(rgba(235, 52, 195, 0.5),rgba(151, 9, 33, 0.5));

}
.back{
    width: 50%;
    float: right;
   
   
}
.circle{
    background: linear-gradient(rgba(230, 226, 226, 0.5), rgba(230,226,226,0.6));
    
   margin: -10px;
   
    
}
.circle1{
    width: 80px;
    height: 160px;
    /* position: absolute;
    top: 3%;
    left: 18%; */
    /* margin-left: 10px; */
    border-top-left-radius: 90px;
    border-bottom-left-radius: 90px;
    
}
.circle2{
    width: 155px;
    height: 80px;
    /* position: absolute;
 top: 90px; */
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
}
.incontent{
   
    width: 50%;
  
    
}
p{
    font-size:large;
}

.section2 h2{
    color: blue;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 20px;
    margin-top: 20px;
}
@media (max-width:320px){
    .title{
       font-size: 4px;
       margin-left: 3px;
    }
    .logo{
       display: none;
    }
    /* .list{
        display: none;
       } */
       .side_icon{
        font-size: 10px;
    }
    .admin{
        display: none;
    }
    form{
        height: 12px;
        background-color:#eee
        }
    #vertical_line{
        display: none;
    }
       .icon{
        font-size: 8px;
       }
       .icon2{
        font-size: 20px;
       }
       .new_package{
        font-size: 16px;
    }
    .package_detail{
        display: none;
    }
    .icon1{
        font-size: 20px;
    }
    .search{
        box-shadow: none;
    }
    .container1{
        width: 100%;
    }
  
}
@media (min-width:320px) and (max-width:430px){
    .title{
        font-size: 6px;
    }
    .logo{
        width: 11px;
        height: 11px;
    }
    .side_icon{
        font-size: 10px;
    }
    .admin{
        display: none;
    }
    /* .list{
        display: none;
       } */
       #vertical_line{
        display: none;
    }
       form{
        height: 15px;
        background-color:#eee
       }
       .icon{
        font-size: 11px;
       }
       .icon2{
        font-size: 30px;
       }
       .new_package{
        font-size: 18px;
    }
    .package_detail{
        display: none;
    }
    .icon1{
        font-size: 22px;
    }
    .search{
        box-shadow: none;
    }
    .container1{
        width: 100%;
    }
}
@media (min-width:430px) and (max-width:560px){
    .title{
        font-size: 8px;
    }
    .logo{
        width: 13px;
        height: 13px;
    }
    /* .list{
        font-size: 10px;
        margin-left: 1px ;
    } */

    .search{
        box-shadow: none;
    }
    .side_icon{
        font-size: 8px;
    }
    .admin{
        font-size: 10px;
    }
    form{
        height: 18px;
        background-color:#eee
    }
    .icon{
        font-size: 12px;
    }
    .icon2{
        font-size: 33px;
    }
    .new_package{
        font-size: 20px;
    }
    .icon1{
        font-size: 25px;
    }
    .container1{
        width: 100%;
    }
}
@media (min-width:560px) and (max-width:690px){
    .title{
        font-size: 10px;
    }
    .logo{
        width: 16px;
        height: 16px;
    }
    /* .list{
        font-size: 14px;
    } */
    .side_icon{
        font-size: 12px;
    }
    .form{
        height: 21px;
    }
    .icon{
        font-size: 13px;
    }
    .icon2{
        font-size: 36px;
    }
    .new_package{
        font-size: 22px;
    }
    .icon1{
        font-size: 27px;
    }
    .container1{
        width: 100%;
    }
}
@media (min-width:690px) and (max-width:830px){
    .title{
        font-size: 13px;
    }
    .logo{
        width: 20px;
        height: 20px;
    }
    /* .list{
        font-size: 17px;
    } */
    .side_icon{
        font-size: 15px;
    }
    form{
        height: 24px;
    }
    .icon{
        font-size: 14px;
    }
    .icon2{
        font-size: 39px;
    }
    .new_package{
        font-size: 24px;
    }
    .icon1{
        font-size: 29px;
    }
    .container1{
        width: 100%;
    }
}
@media (min-width:830px) and (max-width:1000px){
    .title{
        font-size: 14px;
    }
    .logo{
        width: 25px;
        height: 25px;
    }
    form{
        height: 27px;
    }
    .icon{
        font-size: 16px;
    }
    .icon2{
        font-size: 42px;
    }
    .new_package{
        font-size: 26px;
    }
    .icon1{
        font-size: 32px;
    }
    .container1{
        width: 100%;
    }
}
@media (min-width:1000px) and (max-width:1200px){
    .title{
        font-size: 17px;
    }
    .logo{
        width: 30px;
        height: 30px;
    }
    form{
        height: 30px;
    }
    .icon{
        font-size: 18px;
    }
    .icon2{
        font-size: 45px;
    }
    .container1{
        width: 100%;
    }
}
@media (min-width:1200px){
    .title{
        font-size: 20px;
    }
    .logo{
        width: 40px;
        height: 40px;
    }
    form{
        height: 30px;
    }
    .icon{
        font-size: 20px;
    }
    .icon2{
        font-size: 45px;
    }
    .container1{
        width: 100%;
    }
    
}